{%extends "base.html"%}
{%block main%}

<script src="{{ url_for('static', filename='validateForm.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='redactor.js')}}" type="text/javascript"></script>

<!-- Форма для ввода значений -->
<div class="form_box">

<form name ="Start">
    <p>D</p>
    <input type="text" name="D" placeholder="D" >
    <p>h</p>
    <input type="text" name="h"  placeholder="h">
    <p>delta_T</p>
    <input type="text" name="delta_T" placeholder="delta_T">
    <p>steps</p>
    <input type="text" name="steps" placeholder="steps">    
</form>

<button type="submit" class="JSON_form">Send</button>
</div>

<!-- Контейнер для пришедших данных -->
<div class="wrapper"></div>

<!-- Контейнер для холста рисования -->
<div class="container">
    <canvas id='canvas' width="200" height="200">Ваш браузер устарел!</canvas>
    <input id="width1" type="number">
    <input id="height1" type="number">
    <button  type="submit" id="click1">Изменить размер холста</button>
    <div id="palette" ></div>
    <div id="clear">Очистить изображение</div>
</div>

{%endblock%}
</html>

